#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --backgground: #101114;
    --primary-color:#1C1D20;
    --secondary-color:#4A4D57;
    --accent-color:#00FFC4;
    --text-color:#F9F9F9;
  }
  
  .header{
    text-align: center;
    padding: 20px;
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0; 
    z-index: 100; 
  }
  
  .content{
    grid-area: content;
    text-align: center; 
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
  }
  
  .footer{
    grid-area: footer;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: auto;
  }
  
  .container-app {
    display: grid;
    grid-template-areas: 
      "header header"
      "content content"
      "footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
  }
  