
/* Ustawienia sidebar */
.nav-menu {
  background-color: #060b26;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -200px; /* Początkowo ukryte poza ekranem */
  transition: left 350ms ease-in-out; /* Płynna animacja */
}

.nav-menu.active {
  left: 0; /* Sidebar widoczny na ekranie */
}

.toggle-sidebar-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #060b26;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  border-radius: 4px;
  transition: left 350ms ease;
}

.toggle-sidebar-button.active {
  left: 210px; /* Przesunięcie przy otwartym sidebarze */
}

.toggle-sidebar-button:hover {
  background-color: #1a83ff;
}

/* Zmniejszenie szerokości contentu w zależności od stanu sidebara */
.middle-content.reduced-width {
  margin-left: 100px; /* Dopasowanie przesunięcia gdy sidebar jest aktywny */
}

/* Dodatkowe style dla elementów nawigacyjnych */
.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  margin-top: auto;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

span {
  color: white;
  font-size: 18px;
  margin-left: 16px;
}